body{
    background-color: rgb(24, 24, 24);
    align-content: center;
}
h1{
    margin-left: 10%;
    align-content: center;
    color: aliceblue;
}
h3{
    margin-left: 10%;
    align-content: center;
    color: aliceblue;
}
h4{
    margin-left: 10%;
    align-content: center;
    color: aliceblue;
}
ul {
    top: 0;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
li a {
    color: aliceblue;
    size: 5px;
    display: block;
    width: 5%;
}
